/map/wowr.w3x
/map/wowr3.*
/map/wowr3.*.w3x
/map/wowr3.*.w3x.out
/map/wowr3.*.w3x.out2
/map/war3
/map/war3.mpq
/map/war3.mpq.out
/map/war3.mpq.out2
/map/war3x
/map/war3x.mpq
/map/war3x.mpq.out
/map/war3x.mpq.out2
/map/wc3lib
/map/output.txt
/objectdata