table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
    width: 100%
}

h1 {
    text-align: center;
}


h1, h2, h3, h4, h5, h6 {
    color: #ffcc00;
}

a:link {
    color: #ffcc00;
}

a:visited {
    color: #ffaa00;
}

img {
    color: #ffcc00;
}

.highlighted {
    color: #ffcc00;
    font-weight: bold;
}

.nav-item {
    font-size: 0.8em;
}

.spells {
    display: inline-block;
    white-space: nowrap;
}

.items div:not([class])  {
    display: inline-block;
    white-space: nowrap;
}

.changelog ul {
    overflow:hidden;
    overflow-y:scroll;
    height:200px;
    width:18%
}

.questitems {
    overflow:hidden;
    overflow-y:scroll;
    height:150px;
    width:100%
}

input, select, textarea {
    color: #ffffff;
}

button {
    padding: 0;
    border: none;
    background: none;
}

.wowr-popover-wrapper {
    display: inline-block;
    position: relative;
}

.wowr-popover-wrapper .wowr-popover {
    display: none;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    color: black;
    width: 300px;
    padding: 5px;
    z-index: 1;
    color: white;
    background-color: #5c6873;
}

.wowr-popover-wrapper:hover .wowr-popover, .wowr-popover-wrapper .wowr-popover:hover {
    display: block;
}

.wowr-icon {
    width:  64px;
    height: 64px;
}

.wowr-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}